@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.chatContainer {
    flex: 1;
    background-color: rgb(31, 30, 30);
    height: 100%;
    flex-direction: column;
    gap: 2em;
    display: flex;
}

.textFieldContainer {
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.textField {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
}

.message {
    background-color: #282828;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 60%;
    animation: fadeIn 0.3s forwards 0.2s;
    opacity: 0%;
    border: 1px solid white;
    min-height: 2rem;
    margin-bottom: 10px;
}

.message.loadingMessage {
    align-items: center;
    justify-content: center;
}

.message p {
    overflow-wrap: anywhere;
    color: white;
    font-family: sans-serif;
    font-size: small;
}

.messagesContainer {
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
}