@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.padding {
    height: 100%;
    padding: 4em 2em;
    box-sizing: border-box;
}

.mainContainer {
    flex-direction: row;
    display: flex;
    height: 100%;
    box-shadow: 0 4px 12px rgba(214, 208, 208, 0.6);
    animation: fadeIn 0.3s forwards 0.2s;
    opacity: 0%;
}



.workspaceContainer {
    flex: 2;
    background-color: #535353;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
    overflow-y: scroll;
}


