@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.padding {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.925);
}

.mainContainer {
    padding: 4em 2em;
    flex-direction: row;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    
}
.chatContainer {
    flex: 1;
    background-color: rgb(31, 30, 30);
    height: 100%;
    flex-direction: column;
}

.workspaceContainer {
    flex: 2;
    background-color: #535353;
    height: auto;
}

.textFieldContainer {
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.textField {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
}

.message {
    background-color: gray;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 40%;
    animation: fadeIn 0.3s forwards 0.2s;
    opacity: 0%;
}

.message p {
    overflow-wrap: anywhere;
}

.messagesContainer {
    display: flex;
    height: calc(90% - 40px);
    overflow-y: scroll;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow-x: hidden;
}
